Atari/*
data/*
outputs/*

__pycache__

*.pth
.vscode/settings.json
.idea/game-jepa.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/workspace.xml
